pipeline/copy updated incremental data.json
{
	"name": "copy updated incremental data",
	"properties": {
		"activities": [
			{
				"name": "Get max modified date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select max([Last_m]) as Last_m\nfrom tbluser",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTable_Source_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Get last updated date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [LastLoadDate] as  LastLoadDate\nfrom tblControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LS_AzureSqlTable1_Source_controldata",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy updated data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get max modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get last updated date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from tbluser\nwhere Last_m<=\n'@{activity('Get max modified date').output.firstRow.Last_m}'\nand Last_m >\n'@{activity('Get last updated date').output.firstRow.LastLoadDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSqlTable_Source_table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSqlTable_destination_userdata",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "incremental_data"
		},
		"annotations": [],
		"lastPublishTime": "2022-07-07T08:51:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}